<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="bodyContainer">

        <div class="textContainer">
            <h1>WELCOME TO ORANGE OFFICIAL PAGE </h1>
            <h3>Where you can chat with <span style="color: red;">CHATGPT API</span> </h3>
            <button>
                <a href="/chat">Start chatting with ChatGPT</a>
            </button>
        </div>

        <div>
            <img src="/images/robot1.png" alt="" class="robotImg">
        </div>

    </div>
    
</body>
</html>